<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <h1>Iniciar Sesion</h1>

    <form class="example-form">

      <mat-form-field class="example-full-width">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Ingresa tu correo">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Contrasela</mat-label>
        <input matInput placeholder="Ingresa tu contraseña" type="password">
      </mat-form-field>
    
    
    </form>
    

  </div>
</ion-content>
