<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <!--Header-->

    <div class="header">

      <p>Iniciar Sesion</p>

    </div>

    <!--Contenido principal-->

    <div class="content">

      <form class="login-form">

        <ion-grid fixed>

          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="email" placeholder="Ingrese su correo"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" placeholder="Ingrese su contraseña"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <mat-checkbox class="example-margin">Recuerdame</mat-checkbox>
            </ion-col>
            <ion-col size="6">
              <a href="">Olvide mi contraseña</a>
            </ion-col>
          </ion-row>

        </ion-grid>



        <ion-button expand="block">Iniciar Sesion</ion-button>

        <p>No tienes cuenta? Registrate <a href="">Aqui</a></p>

      </form>

    </div>

    <!--Footer-->

    <div class="footer">

    </div>

  </div>
</ion-content>