<ion-content [fullscreen]="true">

  <div class="container">

    <!--Header-->

    <div class="header">

      <p>Recuperar Contraseña</p>

    </div>

    <!--Contenido principal-->

    <div class="content">

      <ion-input type="email" fill="solid" label="Nombre Usuario" labelPlacement="floating" helperText="Ingrese Nombre Usuario"
        errorText="Invalid User" ngModel user></ion-input>
        

      <ion-button expand="block" shape="round" (click)="IrAlHome()">Recuperar</ion-button>


    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <!--Footer-->

    <div class="footer">
    </div>
  </div>
</ion-content>