.container{
    background-color: #ffa200;
}

.header{
    height: 200px;
    text-align: center;
}

.title{
    padding: 5%;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
}

.content{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 5%;
    background-color: #ffffff;
    
    /*border: 2px solid black;*/
}

.text-center{
    text-align: center;
}
.input-form{
    background-color: #ffffff;
    width: 100%;
}
