<ion-menu contentId="main-content">
  <!--Heder Menu-->
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Content Menu-->
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <a>Generar Codigo QR</a>
      </ion-item>
      <ion-item>
        <button mat-button color="warn" (click)="salir()">Salir</button>
      </ion-item>
    </ion-list>

  </ion-content>

  <!--Footer Menu-->
  <!-- <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer> -->

</ion-menu>

<!--todo| Contenido Principal-->
<body class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Registro de Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="" id="content">

    <div class="container">

      <ion-grid fixed>
        <ion-row class="ion-align-items-center">

          <ion-col size="4">
          </ion-col>

          <ion-col size="4">
            <ion-avatar class="ion-text-center">
              <img alt="Silhouette of a person's head"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5SN_KxsoSxXWdLR-06xxWAmgkWe7vaUexgenQ1iu4&s" />
            </ion-avatar>
          </ion-col>

          <ion-col size="4">
          </ion-col>

          <ion-col size="12" class="ion-text-center">
            <h1>Bienvenido {{user.nombre_usuario}}</h1>
          </ion-col>

        </ion-row>
      </ion-grid>

      <!--GENERA CODIGO QR-->

      <div class="qrcodeImage">
        <qrcode [qrdata]="qrData" [allowEmptyString]="true" [ariaLabel]="'QR Code image with the following content...'"
          [cssClass]="'center'" [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'canvas'"
          [errorCorrectionLevel]="'M'" [imageSrc]="'./assets/angular-logo.png'" [imageHeight]="75" [imageWidth]="75"
          [margin]="4" [scale]="1" [title]="'A custom title attribute'" [width]="300"></qrcode>
      </div>

    </div>

  </ion-content>

  <ion-footer>
    <!--VISTA ALUMNO-->
    <ion-toolbar *ngIf="user.tipo_usuario.id===1">


      <ion-fab-button (click)="startScan()" hidden="scanActivate">
        <ion-icon name="scan"></ion-icon>
      </ion-fab-button>


    </ion-toolbar>
    <!--VISTA PROFESOR-->
    <ion-toolbar *ngIf="user.tipo_usuario.id===2">


      <ion-fab-button (click)="generarCodigoQR()">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-fab-button>

    </ion-toolbar>
  </ion-footer>
</body>