<ion-menu contentId="main-content">
  <!--Heder Menu-->
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Content Menu-->
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Awesome Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Awesome Label</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Awesome Label</ion-label>
      </ion-item>
      <ion-item>
        <button mat-button color="warn" (click)="salir()">Salir</button>
      </ion-item>
    </ion-list>

  </ion-content>

  <!--Footer Menu-->
  <!-- <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer> -->

</ion-menu>

<!--todo| Contenido Principal-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Registro de Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <div class="container">

      <ion-grid fixed>
        <ion-row class="ion-align-items-center">

          <ion-col size="4">
          </ion-col>

          <ion-col size="4">
            <ion-avatar class="ion-text-center">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-col>

          <ion-col size="4">
          </ion-col>

          <ion-col size="12" class="ion-text-center">
            <h1>Bienvenido {{user.username}}</h1>
          </ion-col>

        </ion-row>

        <!--Pruebas para mostrar QR (No funciona)-->

        <ion-card>
          <ion-card-content>
            

           

          </ion-card-content>
        </ion-card>
      </ion-grid>

    </div>

    

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <!--PRUEBAS-->

      <ion-fab-button (click)="scanBarcode()">
        <ion-icon name="scan"></ion-icon>
      </ion-fab-button>

      <!--fin de pruebas -->
    </ion-toolbar>
  </ion-footer>
</div>